@import "../../scss/base.scss";
.nav-bar{
    position: fixed;
    display: flex;
    height: 1.333333rem;
    width: 100%;
    bottom:0;
    z-index: 999;
    box-sizing: border-box;
    max-width: 10rem;
    .item-welfare{
        position: relative;
        img{
            position: absolute;
            top: -.533333rem;
            display: block;
            width: 100%;
        }
    }
    .nav-item{
        flex: 1 1 20%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        padding-top: .133333rem;
        background-color: #fff;
        .narbar-icon{
            font-size: .7rem;
        }
        .narber-title{
            @include font-dpr(12px);
        }
    }
}